@model DEMO1.Models.SanPham;
@using DEMO1.Models;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <!-- Product -->
    <div id="product" style="width:500px">
        <div class="primary-box row">
            <div class="pb-left-column col-xs-12 col-sm-6">
                <!-- product-imge-->
                <div class="product-image">
                    <div class="product-full">
                        <img id="product-zoom" src="/img/@Model.AnhDaiDien" />
                    </div>
                    <div class="product-img-thumb" id="gallery_01">
                        <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false" data-margin="20" data-loop="true">
                            <li>
                                <a href="#" data-image="/img/@Model.AnhDaiDien">
                                    <img id="product-zoom" src="/img/@Model.AnhDaiDien" />
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>
                <!-- product-imge-->
            </div>
            <div class="pb-right-column col-xs-12 col-sm-6">
                <h1 class="product-name">@Model.TenSanPham</h1>

                <div class="product-price-group">
                    <span class="price product-price">
                        <span style="color: black">Giá:</span>
                        555555đ
                    </span>
                </div>
                <div class="info-orther">

                    <p>Trạng thái: <span class="in-stock">Còn hàng</span></p>
                    <p>Bảo hành: <span class="in-stock">Bảo hành điện tử 1 năm ( khung và mút )</span></p>

                </div>
                <div class="product-desc">
                    @Model.MoTaSanPham
                </div>
                <div class="form-option">

                    <div class="attributes">
                        <div class="attribute-label">Số lượng:</div>
                        <div class="attribute-list product-qty">
                            <div class="qty">
                                <input id="option-product-qty" type="text" value="1">
                            </div>
                            <div class="btn-plus">
                                <a href="#" class="btn-plus-up">
                                    <i class="fa fa-caret-up"></i>
                                </a>
                                <a href="#" class="btn-plus-down">
                                    <i class="fa fa-caret-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-action">
                    <div class="button-group">
                        <a class="add-item-to-cart btn-add-cart" title="Add to Cart" href="#" data-name="Chilly - 500gr" data-price="70000" data-image="spices/chilli_300x300.png" data-product-code="CL982">Add to Cart</a>
                    </div>
                    <div class="button-group">
                        <a class="wishlist" href="#">
                            <i class="fa fa-heart-o"></i>
                            <br>Heart
                        </a>
                        <a class="compare" href="#">
                            <i class="fa fa-signal"></i>
                            <br>
                            Compare
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!-- tab product -->
        <div class="product-tab">
            <ul class="nav-tab" style="margin-bottom: 0px;">
                <li class="active">
                    <a aria-expanded="false" data-toggle="tab" href="#product-detail">Mô tả</a>
                </li>
                <li>
                    <a aria-expanded="true" data-toggle="tab" href="#comment">Bình luận</a>
                </li>

            </ul>
            <div class="tab-container">
                <div id="product-detail" class="tab-panel active">
                    @Model.MoTaSanPham
                </div>

            </div>
        </div>
        <!-- ./tab product -->
        <!-- box product -->
    </div>
    <!-- Product -->

