@model List<SanPham>;

@{
    ViewData["Title"] = "Home Page";
    
}



<div style="display:flex;padding-left:30px">

    @foreach (var sp in Model)

    {
        <div>
            <div class="left-block">
                <a><img class="img-responsive" alt="product" src="~/img/@sp.AnhDaiDien" /></a>

                <div class="quick-view">
                    <a title="Add to my wishlist" class="heart" href="#"></a>
                    <a title="Add to compare" class="compare" href="#"></a>
                    <a title="Quick view" href="~/UploadFile/anh/@sp.AnhDaiDien" class="search fancybox-button"></a>
                </div>
                <div class="add-to-cart">
                    <a class="add-item-to-cart" title="Add to Carr" href="/Home/AddCart" data-name="Asparagus - 1kg" data-price="38500" data-image="images/anh/image/bantrangdiem1.png" data-product-code="AS109">Add to Cart</a>
                </div>
            </div>
            <div class="right-block">
                <h5 class="product-name"><a href="/Home/ctsp/@sp.MaSanPham">@sp.TenSanPham</a></h5>

                <div class="content_price">
                    <span class="price product-price">
                        <br><span style="color: black">Price:</span>
                        <span class="price old-price">55,000đ</span>
                    </span>
                   
                </div>
            </div>
        </div>
    }
</div>

